@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are no Engineers working on this machine right now.</p>
}
else
{
  <h4>Here are the engineers working on this machine:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteEngineer", "Machine"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Remove Engineer" />
      }
    }
  </ul>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete Machine" />
  }
}

@Html.ActionLink("Back to List", "Index")